/* Color Palette *****
#05668D Sea Blue
#028090 Metallic Seaweed (gray green)
#00A896 Persian Green (green)
#02C39A Caribbean Green (bright green)
#F0F3BD Pale Spring Bud (light green)
**********************/

/* Global Styles *****
**********************/
* { /* Eliminate page margin */
   margin: 0px;
   padding: 0px;
}

a, a:link {
  color: #05668D; /* #05668D Sea Blue */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: #05668D;
}

/* Header & Footer Styles *****
**********************/
header, footer {
  background-color: #05668D; /* #05668D Sea Blue */
  color: #F0F3BD; /* #F0F3BD Pale Spring Bud (light green) */
}
/* header */
header {
  padding: 10px;
}
/* Footer */
footer {
  text-align: center;
  line-height: 30px;
}

/* Nav Styles *****
**********************/
nav {
  float:left;
  padding: 20px 15px;
}

/* Data Section Styles *****
**********************/
#data {
  padding: 15px;
}

/* Table ************
*********************/
#data_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#data_table td, #data_table th {
  border: 1px solid #028090;
  padding: 8px;
}

#data_table tr:nth-child(even){background-color: #F0F3BD;}

#data_table tr:hover {
  background-color: #02C39A; /* #02C39A Caribbean Green (bright green) */
}

#data_table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #028090;
  color: #F0F3BD;
}
